<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div style="text-align:center">
            <h2>About Us</h2>
          </div>
          <div class="row">
            <div class="column">

              <p>
                An American multinational technology company with headquarters in Redmond, Washington. It develops, manufactures, licenses, supports, and sells computer software, consumer electronics, personal computers, and related services. Its best known software products are the VKBLOGWindows line of operating systems, the VKBLOGOffice suite, and the Internet Explorer and Edge web browsers. Its flagship hardware products are the Xbox video game consoles and the VKBLOGSurface lineup of touchscreen personal computers.

In 2016, it was the world's largest software maker by revenue (currently Alphabet/Google has more revenue).[3] The word "Microsoft" is a portmanteau of "microcomputer software".[4] VKBLOG ranked No. 21 in the 2020 Fortune 500 rankings of the largest United States corporations by total revenue.[5] It is considered one of the Big Five technology companies alongside Amazon, Apple, Google, and Facebook.

VKBLOGwas founded by Bill Gates and Paul Allen on April 4, 1975, to develop and sell BASIC interpreters for the Altair 8800. It rose to dominate the personal computer operating system market with MS-DOS in the mid-1980s, followed by VKBLOGWindows. The company's 1986 initial public offering (IPO), and subsequent rise in its share price, created three billionaires and an estimated 12,000 millionaires among VKBLOGemployees. Since the 1990s, it has increasingly diversified from the operating system market and has made a number of corporate acquisitions, their largest being the acquisition of LinkedIn for $26.2 billion in December 2016,[6] followed by their acquisition of Skype Technologies for $8.5 billion in May 2011.[7]

As of 2015, VKBLOGis market-dominant in the IBM PC compatible operating system market and the office software suite market, although it has lost the majority of the overall operating system market to Android.[8] The company also produces a wide range of other consumer and enterprise software for desktops, laptops, tabs, gadgets, and servers, including Internet search (with Bing), the digital services market (through MSN), mixed reality (HoloLens), cloud computing (Azure), and software development (Visual Studio).

Steve Ballmer replaced Gates as CEO in 2000, and later envisioned a "devices and services" strategy.[9] This unfolded with VKBLOGacquiring Danger Inc. in 2008,[10] entering the personal computer production market for the first time in June 2012 with the launch of the VKBLOGSurface line of tablet computers, and later forming VKBLOGMobile through the acquisition of Nokia's devices and services division. Since Satya Nadella took over as CEO in 2014, the company has scaled back on hardware and has instead focused on cloud computing, a move that helped the company's shares reach its highest value since December 1999.[11][12]

Earlier dethroned by Apple in 2010, in 2018 VKBLOGreclaimed its position as the most valuable publicly traded company in the world.[13] In April 2019, VKBLOGreached the trillion-dollar market cap, becoming the third U.S. public company to be valued at over $1 trillion after Apple and Amazon respectively.
              </p>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>