<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>Swing by for a cup of coffee, or leave us a message:</p>
          </div>
          <div class="row">
            <div class="column" style="margin-left: 5%;">
              <p><b>Address</b><br>
              1-2-3 Test Drive Square.<br>
              56 South-west inclave.<br>
              Private Iland.<br>
              543566<br>
            </p>
            <p>
              <b>Contact</b><br>
              +999 48563 4847437<br>
              +999 12345 654321<br>
            </p>
            <p>
              <b>Email</b><br>
              help@vkblog.com<br>
              contact@vkblog.com<br>
            </p>
            </div>
            <div class="column">
              <form action="/action_page.php">
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                <label for="country">Country</label>
                <select id="country" name="country">
                  <option value="australia">Australia</option>
                  <option value="canada">Canada</option>
                  <option value="usa">USA</option>
                </select>
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
                <input type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>