<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">CREATE OFFER</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">

        <section class="content" style="width: 96%; margin: 0 auto;">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-12">
                <div class="small-box bg-success">
                  <div class="inner">
                    <label class="form-control" style="width: 100%;">GENERAL DETAILS</label>
                    <table>
                      <tr>
                        <td>
                          <label>Department </label>
                          <select class="form-control">
                            <option>IT</option>
                            <option>HR</option>
                            <option>FINANCE</option>
                            <option>ACCOUNT</option>
                            <option>ADMIN</option>
                          </select>
                        </td>
                        <td>
                          <label>Reporting Manager</label>
                          <select class="form-control">
                            <option>JOHN</option>
                            <option>ANDI</option>
                            <option>ROBERT</option>
                            <option>ANDREW</option>
                            <option>SYMOND</option>
                          </select>
                        </td>
                        <td>
                          <label>Location</label>
                          <select class="form-control">
                            <option>DELHI</option>
                            <option>MUMBAI</option>
                            <option>CHENNI</option>
                            <option>PUNE</option>
                            <option>CHANDIGADH</option>

                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Reporting Time</label> <input type="time" class="form-control">
                        </td>
                        <td>
                          <label>Requirement Type </label> 
                          <select class="form-control">
                            <option>FULL TIME</option>
                            <option>PART TIME</option>
                          </select>
                        </td>
                        <td>
                          <label>Skill Type </label> 
                          <select class="form-control">
                            <option>FREASHER</option>
                            <option>EXPERIENCE</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Designation </label> 
                          <select class="form-control">
                            <option>JUNIOR SOFTWARE ENGINNER</option>
                            <option>SOFTWARE ENGINNER</option>
                            <option>SENIOR SOFTWARE ENGINNER</option>
                            <option>LEAD ENGINNER</option>
                            <option>PROJECT MANAGER</option>
                            <option>CEO</option>
                          </select>
                        </td>
                        <td>
                          <label>Date of Joining </label> <input type="date" class="form-control">
                        </td>
                        <td>
                          <label>PF Included </label> 
                          <select class="form-control">
                            <option>YES</option>
                            <option>NO</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td><label>Annual Salary </label> <input type="text" class="form-control"></td>
                        <td><label>Work Location </label> 
                          <select class="form-control">
                            <option>DELHI</option>
                            <option>MUMBAI</option>
                            <option>CHENNI</option>
                            <option>PUNE</option>
                            <option>CHANDIGADH</option>
                          </select></td>
                        <td><label>Experience Type </label> 
                          <select class="form-control">
                            <option>FREASHER</option>
                            <option>EXPERIENCE</option>
                          </select></td>
                      </tr>
                      <tr>
                        <td><label>Years of Experience </label> <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </td>
                        <td><label>Last Drawn Annual Salary </label> <input type="text" class="form-control"></td>
                        <td><label>Previous Appraisal Date </label> <input type="date" class="form-control"></td>
                      </tr>
                      <tr>
                        <td><label>Hike % </label> <input type="text" class="form-control" disabled></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="2"><label>Recent Payslip </label> <input type="file" class="form-control"></td>
                        <td><label></label><input type="button" text="UPLOAD" value="Upload" class="form-control" > </td>
                      </tr>
                    </table>
                    <table>
                      <tr>
                        <td></td>
                      </tr>
                    </table>
                    <label class="form-control" style="width: 100%;">PERSIONAL DETAILS</label>
                    <table>
                      <tr>
                        <td><label>FIRST NAME </label> <input type="text" class="form-control"></td>
                        <td><label>MIDDLE NAME</label> <input type="text" class="form-control"></td>
                        <td><label>LAST NAME</label> <input type="text" class="form-control"></td>
                      </tr>
                      <tr>
                        <td colspan="2"> 
                          <table>
                            <tr>
                              <td style="padding-top: 40px;"><label>GENDER</label></td>
                              <td><label>MALE</label><input type="radio" class="form-control" name="gender" checked></td>
                              <td><label>FEMAIL</label><input type="radio" class="form-control" name="gender"></td>
                            </tr>
                          </table>
                          
                          </td>
                        <td><label>Email ID #1 </label> <input type="text" class="form-control"></td>
                      </tr>
                      <tr>
                        <td><label>Email ID #2 </label> <input type="text" class="form-control"></td>
                        <td><label>contact no 1 </label> <input type="text" class="form-control"></td>
                        <td><label>contact no 2 </label> <input type="text" class="form-control"></td>
                      </tr>
                      <tr>
                        <td><label>Address </label> <input type="text" class="form-control"></td>
                        <td><label>city </label> <input type="text" class="form-control"></td>
                        <td><label>state </label> <select class="form-control">
                          <option>DELHI</option>
                          <option>MUMBI</option>
                          <option>KOLKATA</option>
                          <option>CEHNNI</option>
                        </select></td>
                      </tr>
                      <tr>
                        <td><label>pincode </label> <input type="text" class="form-control"></td>
                        <td><label>country </label> 
                          <select class="form-control">
                          <option>INDIA</option>
                        </select>
                      </td>
                        <td><label>Date of Birth </label> <input type="date" class="form-control"></td>
                      </tr>
                      <tr>
                        <td colspan="3"><label></label><input type="button" text="UPLOAD" value="CREATE" class="form-control" ></td>
                      </tr>
                    </table>



















                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>